.wrapperPage {
  display: flex;
  flex-direction: column;
  min-height: 808px;
}
.wrapperTitle {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 8px;
  background-color: cornflowerblue;
}
.boxTitle {
  width: 1180px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  width: 200px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.inputSearch {
  width: 250px;
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  border-radius: 8px;
}
.tCountNum {
  display: flex;
  justify-content: space-around;

  border-radius: 8px;
}
.numbers {
  width: 40px;
  margin-top: 2px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.iconSeconds {
  width: 19px;
  height: 21px;
  margin-top: 2px;
  background-size: cover;
  background-image: url("../../../images/seconds.svg");
}

.boxSortBtn {
  display: flex;
}

.liName {
  margin-left: 20px;
}

.liBtn {
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerLeft {
  width: 100%;
  display: flex;
  justify-content: right;
}

/* .checkBoxList {
  display: flex;
  flex-direction: row;
} */

.containerMiddle {
  width: 1180px;
}

.boxContainerMiddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrappContainer {
  display: flex;
  flex-direction: column;
}

.containerRight {
  width: 100%;
}

.liCheckbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: solid 1px;
}

.checkboxName {
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 5px;
}
/* .checkboxNametwo {
  margin-left: 40px;
} */

/* .checkbox {
  margin-right: 40px;
} */

.btnBack {
  position: sticky;
  top: 95px;
  width: 55px;
  height: 55px;
  border-radius: 16px;
  margin: 10px;
}

.wrapperPagination {
  position: sticky;
  top: 58px;
  display: flex;
  justify-content: center;
  background-color: grey;
}

.containerPagination {
  width: 1158px;
  height: 35px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: blueviolet; */
}

.listPagination {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: rgb(93, 192, 151);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.listPaginationActive {
  display: flex;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  background-color: rgb(93, 192, 151);
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.cellPagination {
  width: 25px;
  margin: 0px 3px 0px 3px;
  text-align: center;
  /* background-color: rgb(237, 100, 225); */
}

.selected {
  color: chocolate;
}
.selectedbold {
  color: rgb(0, 68, 255);
}

.btnAll {
  position: sticky;
  top: 160px;
  width: 55px;
  height: 55px;
  border-radius: 16px;
  margin: 10px;
}

.btnBox {
  display: flex;
  flex-direction: column;
}

.btnFilter {
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.btnSearch {
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.filterWrapper {
}

.filterBody {
  padding: 10px;

  background-color: rgb(174, 179, 174);
}

.liFilterCellfirst {
  width: 240px;
  height: 40px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: rgb(212, 212, 248);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1) inset;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(165, 194, 207);
  border-radius: 8px;
  border: 3px solid #e0dc99;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(139, 187, 209);
}

.noPresentProduct {
  opacity: 0.3;
}

.fontPriceRetailNoProduct {
  opacity: 0.2;
  width: 100px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: rgb(0, 102, 0);
}

.loadPosition {
  display: flex;
  justify-content: center;
  width: 1180px;

  /* margin-top: 2%; */
}

.loadingFilterProducts {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 1180px;
}

.someOneContent {
  width: 300px;
  height: 200px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 93px;
  margin: 10px;
  background-color: lightcyan;
}

@media (min-width: 320px) and (max-width: 359px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .inputSearch {
    padding-left: 10px;
    width: 165px;
  }
  .title {
    width: 140px;
    font-size: 12px;
  }
}

@media (min-width: 360px) and (max-width: 939px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .inputSearch {
    padding-left: 10px;
    width: 165px;
  }
  .title {
    width: 140px;
    font-size: 12px;
  }
}
