::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.card {
  display: flex;
  min-height: 808px;
}
.mainLeft {
  width: 20%;
}

.containerLeft {
  width: 100%;
  display: flex;
  justify-content: right;
}

.BtnBack {
  position: sticky;
  top: 70px;
  width: 100px;
  height: 55px;
  border-radius: 16px;
  margin: 10px;
}

.mainMiddle {
  display: flex;
  flex-direction: column;
  width: 60%;
  overflow-y: hidden;
  padding-top: 15px;
}
/* .footerMiddle:hover {
  overflow-y: scroll;
} */

.wrapperMiddle {
  display: flex;
}

.boxNameCode {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
}
.img {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
}
.imgNoProdu {
  opacity: 0.3;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
}
.imgDescription {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
}

.productName {
  padding-top: 10px;
  padding-bottom: 10px;
}
.prodCode {
  padding: 5px;
}
.middleRight {
  width: 50%;
}

.middleLeft {
  width: 50%;
  text-align: center;
  padding: 15px;
  /* margin-top: 15px; */
  margin-right: 25px;
  border-radius: 16px;
  background-color: white;
}

.mainRight {
  width: 20%;
}
.ulRight {
  width: 80%;

  overflow-y: scroll;

  padding: 10px;
  height: 350px;
  margin-top: 10px;
}

.productExpect {
  color: crimson;
}

.boxMoreFoto {
  margin-top: 15px;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* background-color: violet; */
}
::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: rgb(212, 212, 248);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1) inset;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(165, 194, 207);
  border-radius: 8px;
  border: 3px solid #e0dc99;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 187, 209);
}

.listFoto {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.btnMiddleRight {
  /* margin-top: 10px; */
  width: 200px;
  height: 40px;
  border-radius: 16px;
}

.liRight {
  padding: 4px;
  border-bottom: 1px solid;
}
.btnProductDetails {
  width: 250px;
  height: 50px;

  margin-left: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(150, 150, 168);
  border-radius: 16px;
  background: #fde86e;
}

.priceProductDetails {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: rgb(0, 99, 0);
}
.fontProductDetails {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.loadPosition {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 808px;
  margin-top: 10%;
}

@media (min-width: 320px) and (max-width: 359px) {
  .card {
    flex-direction: column;
  }
  .mainLeft {
    width: 0;
  }
  .mainRight {
    width: 0;
  }
  .mainMiddle {
    width: 100%;
    flex: 1 1 auto;
  }
  .wrapperMiddle {
    flex-direction: column;
  }
  .middleLeft {
    width: 94%;
    margin: 3%;
  }
  .middleRight {
    width: 94%;
    height: 40px;
    margin: 3%;
  }
  .ulRight {
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    height: 150px;
  }
  .liRight {
    padding: 2px;
    border-bottom: 1px solid;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
  }
  .priceProductDetails {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .btnProductDetails {
    width: 180px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(150, 150, 168);
  }
  .btnMiddleRight {
    width: 180px;
    height: 40px;
    border-radius: 16px;
    background-color: rgb(109, 167, 109);
    box-shadow: 5px 5px 10px rgb(150, 150, 168);
    cursor: pointer;
  }
  .boxMoreFoto {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .infoProdImg {
    border-color: rgb(212, 212, 248);
  }
}

@media (min-width: 360px) and (max-width: 814px) {
  .card {
    flex-direction: column;
  }
  .mainLeft {
    width: 0;
  }
  .mainRight {
    width: 0;
  }
  .mainMiddle {
    width: 100%;
    min-height: 812px;
    flex: 1 1 auto;
  }
  .wrapperMiddle {
    flex-direction: column;
  }
  .middleLeft {
    width: 94%;
    margin: 3%;
  }
  .middleRight {
    width: 94%;
    height: 40px;
    margin: 3%;
  }
  .ulRight {
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px;
    height: 150px;
  }
  .liRight {
    padding: 2px;
    border-bottom: 1px solid;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 12px;
  }
  .priceProductDetails {
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .btnProductDetails {
    width: 180px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(150, 150, 168);
  }
  .btnMiddleRight {
    width: 180px;
    height: 40px;
    border-radius: 16px;
    background-color: rgb(109, 167, 109);
    box-shadow: 5px 5px 10px rgb(150, 150, 168);
    cursor: pointer;
  }
  .boxMoreFoto {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
  }
  .infoProdImg {
    border-color: rgb(212, 212, 248);
  }
}
