.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  flex: 0 0 auto;

  text-align: center;
}

.modal img {
  max-width: 100%;
}

@media (min-width: 320px) and (max-width: 414px) and (min-height: 360px) and (max-height: 896px) {
  .modal {
    flex: 0 1 400px;
  }
}
