::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.card {
  display: flex;
  height: 808px;
}
.mainLeft {
  width: 20%;
}
.mainMiddle {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 808px;
  overflow-y: hidden;
}

.wrapperMiddle {
  display: flex;
}
.middleLeft {
  width: 600px;
  text-align: center;
}
.boxNameCode {
  width: 100%;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
}
.img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgNoProduct {
  opacity: 0.3;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgDescription {
  width: 100%;
  height: 280px;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 15px;
}
.productName {
  padding-top: 10px;
  padding-bottom: 10px;
}
.prodCode {
  padding: 5px;
}
.middleRight {
  width: 50%;
  margin-top: 15px;
}

.middleLeft {
  width: 50%;
  padding: 15px;
  margin-top: 15px;
  margin-right: 25px;
  border-radius: 16px;
  background-color: white;
}

.mainRight {
  width: 20%;
  position: relative;
  /* display: flex;
  justify-content: center; */
}
.ulRight {
  width: 100%;

  overflow-y: scroll;

  padding: 10px;
  height: 350px;
  margin-top: 10px;
}
/* .ulRight {
  width: 100%;
  position: absolute;
  overflow-y: scroll;
  padding: 10px;
  width: 29%;
  height: 50%;
} */
.boxMoreFoto {
  margin-top: 15px;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  /* background-color: violet; */
}

.listFoto {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

.btnMiddleRight {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 16px;
}

.btnMiddleRightDisable {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 16px;
}

.liRight {
  padding: 4px;
  border-bottom: 1px solid;
}
.btnProductDetails {
  margin: 10px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgb(150, 150, 168);
  border-radius: 16px;
  background: #fde86e;
}

.priceProductDetails {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 20px;
  color: rgb(0, 99, 0);
}

.productExpect {
  color: crimson;
}

.fontProductDetails {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.loadPosition {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 808px;
  margin-top: 10%;
}

@media (min-width: 320px) and (max-width: 359px) {
  .boxMoreFoto {
    top: 150%;
  }
  .fontProductDetails {
    font-size: 14px;
  }
  .btnProductDetails {
    width: 250px;
    height: 30px;
  }
  .priceProductDetails {
    margin-top: 230px;
    padding-left: 10px;
  }
  .ulRight {
    position: absolute;
    width: 96%;
    height: 200px;
    top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 16px;
    /* background-color: maroon; */
  }
  .btnMiddleRight {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
  }
  .middleRight {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: limegreen; */
  }
  .middleLeft {
    width: 94%;
    height: 550px;
    margin-top: 5px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .wrapperMiddle {
    flex-direction: column;

    /* background-color: lightsalmon; */
  }
  .card {
    flex-direction: column;
    align-items: center;
    height: 1000px;
  }
  .mainLeft {
    width: 0;
  }
  .mainMiddle {
    width: 100%;
    height: 1000px;
    /* background-color: rgb(97, 97, 141); */
  }
  .mainRight {
    width: 0;
  }
}

@media (min-width: 360px) and (max-width: 939px) {
  .boxMoreFoto {
    top: 150%;
  }
  .fontProductDetails {
    font-size: 14px;
  }
  .btnProductDetails {
    width: 250px;
    height: 30px;
  }
  .priceProductDetails {
    margin-top: 230px;
    padding-left: 10px;
  }
  .ulRight {
    position: absolute;
    width: 96%;
    height: 200px;
    top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 16px;
    /* background-color: maroon; */
  }
  .btnMiddleRight {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
  }
  .middleRight {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: limegreen; */
  }
  .middleLeft {
    width: 94%;
    height: 550px;
    margin-top: 5px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .wrapperMiddle {
    flex-direction: column;

    /* background-color: lightsalmon; */
  }
  .card {
    flex-direction: column;
    align-items: center;
    height: 1000px;
  }
  .mainLeft {
    width: 0;
  }
  .mainMiddle {
    width: 100%;
    height: 1000px;
    /* background-color: rgb(97, 97, 141); */
  }
  .mainRight {
    width: 0;
  }
}
