.wrapper {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: rgb(212, 211, 241);
}

.middleNavigation {
  display: flex;
  justify-content: left;
  align-items: baseline;
  width: 60%;
  font-family: "Boogaloo", normal;
  font-size: 19px;
  color: rgb(25, 18, 168);
  /* background-color: darkcyan; */
}

.integral {
  text-align: center;
  width: 20%;
}

.basta {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fed700;
}

.support {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-family: "Monserat", sans-serif;
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 359px) {
  .containerF {
    width: 100%;

    /* margin-top: 300px;
    display: flex;
    flex-direction: column; */
  }
}

/* + control height max 812px */

@media (min-width: 360px) and (max-width: 414px) and (min-height: 360px) and (max-height: 896px) {
  .containerF {
    width: 100%;

    /* margin-top: 1.5px;
    display: flex;
    flex-direction: column; */
  }
}

@media (min-width: 415px) and (max-width: 940px) {
  .containerF {
    width: 100%;

    /* margin-top: 300px;
    display: flex;
    flex-direction: column; */
  }
}
