.wrapperPage {
  display: flex;
  flex-direction: column;
  min-height: 808px;
}
.wrapperTitle {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 8px;
  background-color: cornflowerblue;
}
.boxTitle {
  width: 1180px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title {
  width: 200px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}
.inputSearch {
  width: 250px;
  height: 30px;
  padding: 5px;
  padding-left: 15px;
  border-radius: 8px;
}
.tCountNum {
  display: flex;
  justify-content: space-around;

  border-radius: 8px;
}
.numbers {
  width: 40px;
  margin-top: 2px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
}

.iconSeconds {
  width: 19px;
  height: 21px;
  margin-top: 2px;
  background-size: cover;
  background-image: url("../../../images/seconds.svg");
}

.boxSortBtn {
  display: flex;
}

.liName {
  margin-left: 20px;
}

.liBtn {
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.containerLeft {
  width: 100%;
  display: flex;
  justify-content: right;
}

.containerMiddle {
  width: 1180px;
}

.containerRight {
  width: 100%;
}

.liCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.checkboxName {
  margin-left: 20px;
}

.checkbox {
  margin-right: 40px;
}

.btnBack {
  position: sticky;
  top: 70px;
  width: 55px;
  height: 55px;
  border-radius: 16px;
  margin: 10px;
}

.btnAll {
  position: sticky;
  top: 140px;
  width: 55px;
  height: 55px;
  border-radius: 16px;
  margin: 10px;
}

.btnBox {
  display: flex;
  flex-direction: column;
}

.btnFilter {
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.btnSearch {
  margin-right: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
}

.filterBody {
  width: 250px;

  background-color: rgb(174, 179, 174);
}

.liFilterCellfirst {
  width: 240px;
  height: 40px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: rgb(212, 212, 248);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1) inset;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(165, 194, 207);
  border-radius: 8px;
  border: 3px solid #e0dc99;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(139, 187, 209);
}

.noPresentProduct {
  opacity: 0.3;
}

.fontPriceRetailNoProduct {
  opacity: 0.2;
  width: 100px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  color: rgb(0, 102, 0);
}

.loadPosition {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.loadingFilterProducts {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  width: 1180px;
}

.someOneContent {
  width: 300px;
  height: 200px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 75px;
  margin: 10px;
  background-color: lightcyan;
}

@media (min-width: 320px) and (max-width: 359px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .inputSearch {
    padding-left: 10px;
    width: 165px;
  }
  .title {
    width: 140px;
    font-size: 12px;
  }
}

@media (min-width: 360px) and (max-width: 939px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
  .inputSearch {
    padding-left: 10px;
    width: 165px;
  }
  .title {
    width: 140px;
    font-size: 12px;
  }
}
